@import '../variables.scss';

.account-modal-container {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 100vh;
  height: calc(100% - 65px);
  background-color: $background-dark;
  color: $text-light;
  transition: top 0.5s ease-in-out;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    top: 65px;

    @media (min-width: $tablet-width) {
      top: 76.19px;
    }
  }

  img {
    position: absolute;
    top: 20px;
    right: -120px;
    z-index: -1;
  }

  .heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    button svg {
      width: 18px;
    }
    
    h1 {
      color: inherit;
      text-align: left;
      font-size: 1.5rem;
    }
  }

  .form-container {
    width: 100%;
    max-width: 350px;
    background: rgba(58, 49, 40, 0.3);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 12px;
    padding: 1.5rem;

    p {
      span {
        font-weight: 500;
        color: #ffbf92;
      }
    }

    p,
    ::placeholder {
      font-size: 0.75rem;
    }

    form {
      margin: 1rem 0;

      span {
        font-size: 0.85rem;
        color: #ea3333;
        margin: 0.5rem 0;
      }
    }

    input {
      font-family: 'Poppins';
      display: block;
      background-color: white;
      width: 100%;
      border: none;
      padding: 1rem 0.75rem;
      border-radius: 9px;

      &:not(:last-of-type) {
        margin-bottom: 0.85rem;
      }

      &[type='submit'] {
        cursor: pointer;
        background-color: $button;
        color: $text-light;
        font-weight: 700;
        font-size: 0.95rem;
      }

      &::placeholder {
        color: #a4a4a4;
        font-family: 'Poppins';
        font-weight: 300;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
