.animation-container {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    line-height: 0;
    vertical-align: bottom;
  }

  #animated-words {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    will-change: transform;
  }
  .animated-words {
    color: rgba(255, 255, 255, 0.25);
    font-size: 60vh;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }
  #animated-words {
    left: 0;
    transform: translate3d(0%, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    animation: scrollText 7s linear infinite;
  }

  .hero-heading {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-size: 36px;
  }

  @keyframes scrollText {
    0% {
      left: 100%;
    }
    100% {
      left: -170%;
    }
  }
}
