@import '../variables.scss';

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 10px 20px;
  font-weight: 300;
  font-size: 0.8rem;
  
  a {
    color: $text-light;
    text-decoration: none;
    margin-left: 0.8rem;
    &:hover {
      text-decoration: underline;
    }
    
    &.margin-right-link {
      margin-right: 2rem;
    }
  }
}


.footer-logo {
  margin-left: 10px;
  height: 30px;
}