@import '../variables.scss';

header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 0.9rem;
  background-color: $background-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #f7f3e838;
  z-index: 100;

  * {
    user-select: none;
  }

  a {
    color: inherit;
    text-decoration: none;

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    img {
      height: 28px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        height: 32px;
      }
    }
  }

  .header-buttons {
    display: flex;
    align-items: center;
    gap: 14px;

    @media (min-width: $tablet-width) {
      gap: 18px;
    }

    img {
      height: 14px;
      cursor: pointer;

      @media (min-width: $tablet-width) {
        &.menu-icon {
          display: none;
        }
      }
    }

    .search-bar {
      display: none;

      @media (min-width: $tablet-width) {
        display: flex;
      }
    }

    .header-buttons-search {
      display: block;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  .tablet-up-menu-items {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
