@import '../variables.scss';

.single-blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blog-single-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    margin-top: 5rem;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
    .content-container {
      padding: 15px;
      background-color: #db9c6f;
      margin: 15px;
      border-radius: 5px;
    }
    p {
      font-size: 1rem;
    }
    .blog-info-container {
      padding: 15px;
    }
    img {
      max-width: 100%;
      width: 610px;
      height: 320px;
      object-fit: cover;
      border-radius: 5px;
  }



  p {
    padding: 10px 20px;
  }
}
