.slider-container {
  position: relative;
  width: 250px;
  
  input[type="range"] {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .slider-marker {
    position: absolute;
    top: -10px;
    transform: translateX(-16px);

    img {
      width: 48px;
      vertical-align: bottom;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      font-weight: 300;
    }
  }
}
