@import '../variables.scss';

.user-dropdown {
  background-color: $background-dark;
  border: 1px solid $border-light;
  border-top: none;
  position: fixed;
  right: 0;
  z-index: 3;
  transition: top 0.5s ease;
  top: -137px;

  @media (min-width: $tablet-width) {
    top: -127px;
  }

  &.open {
    top: 65px;

    @media (min-width: $tablet-width) {
      top: 76.19px;
    }
  }

  a {
    font-size: 0.7rem;

    .line-accent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 75%;
      background-color: $border-light;
      z-index: -1;
    }

    span {
      background-color: $background-dark;
      padding: 0 1rem;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.nav-link {
  display: block;
  color: $text-light;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 300;
  padding: 1.25rem 2rem;
  border-bottom: 1px solid $border-light;
  text-transform: uppercase;
  position: relative;
}
