@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';
@import 'partials/header';
@import 'partials/singlerecipe.scss';
@import 'partials/browseRecipes.scss';
@import 'partials/blogs.scss';
@import 'partials/singleBlog.scss';
@import 'partials/footer.scss';
@import 'partials/accountModal.scss';
@import 'partials/userDropdown.scss';
@import 'partials/carousel.scss';
@import 'partials/recipeform.scss';
@import 'partials/featured.scss';
@import 'partials/profile.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $background-dark;
  color: $text-light;
  font-family: 'Poppins';
}

main {
  padding-top: 65px;
  padding-bottom: 65px;
  min-height: 90vh;

  @media (min-width: $tablet-width) {
    padding-top: 76.19px;
    padding-bottom: 76.19px;
  }
}

h1 {
  text-align: center;
  color: #f7f3e8;
}

a {
  color: $text-light;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff21;
  padding: 0.35rem 0.75rem;
  border-radius: 15px;
  font-size: 0.85rem;

  input {
    height: 16px;
    font-family: 'Poppins';
    border: none;
    background: none;
    color: $text-light;
    width: 22ch;
    &::placeholder {
      color: #f7f3e87f;
    }
    &:focus {
      outline: none;
    }
  }

  img {
    height: 16px;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

label {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 0.9rem;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 24px;
}