@import 'variables.scss';
@import 'partials/header';
@import 'partials/singlerecipe.scss';
@import 'partials/browseRecipes.scss';
@import 'partials/blogs.scss';
@import 'partials/singleBlog.scss';
@import 'partials/animation.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $background-dark;
  color: $text-light;
  font-family: 'Poppins';
}

h1 {
  text-align: center;
  color: #f7f3e8;
  margin-top: 120px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff21;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;

  input {
    height: 16px;
    font-family: 'Quicksand';
    border: none;
    background: none;
    color: $text-light;
    width: 18ch;
    &:focus {
      outline: none;
    }
  }

  img {
    height: 16px;
  }
}
